* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
}

.col {
  background-color: lightgray;
}

.col-1 {
  width: 6.5%;
}

.col-2 {
  width: 15%;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40.5%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57.5%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74.5%;
}

.col-11 {
  width: 91.5%;
}

.col-10 {
  width: 83%;
}

.col-12 {
  width: 100%;
}

.col-offset-left-1 {
  margin-left: 8.5%;
}

.col-offset-left-2 {
  margin-left: 17%;
}

.col-offset-left-3 {
  margin-left: 25.5%;
}

.col-offset-left-4 {
  margin-left: 34%;
}

.col-offset-left-5 {
  margin-left: 42.5%;
}

.col-offset-left-6 {
  margin-left: 51%;
}

.col-offset-left-7 {
  margin-left: 59.5%;
}

.col-offset-left-8 {
  margin-left: 68%;
}

.col-offset-left-9 {
  margin-left: 76.5%;
}

.col-offset-left-10 {
  margin-left: 85%;
}

.col-offset-left-11 {
  margin-left: 93.5%;
}

.col-offset-right-1 {
  margin-right: 8.5%;
}

.col-offset-right-2 {
  margin-right: 17%;
}

.col-offset-right-3 {
  margin-right: 25.5%;
}

.col-offset-right-4 {
  margin-right: 34%;
}

.col-offset-right-5 {
  margin-right: 42.5%;
}

.col-offset-right-6 {
  margin-right: 51%;
}

.col-offset-right-7 {
  margin-right: 59.5%;
}

.col-offset-right-8 {
  margin-right: 68%;
}

.col-offset-right-9 {
  margin-right: 76.5%;
}

.col-offset-right-10 {
  margin-right: 85%;
}

.col-offset-right-11 {
  margin-right: 93.5%;
}

@media all and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
  .col-7, .col-8, .col-9, .col-10, .col-11 {
    margin-bottom: 1rem;
    width: 100%;
  }
}