* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
}

.col {
  background-color: lightgray;
}

.col-2 {
  width: 15%;
}

.col-4 {
  width: 32%;
}

.col-6 {
  width: 49%;
}

.col-8 {
  width: 66%;
}

.col-10 {
  width: 83%;
}

.col-12 {
  width: 100%;
}

@media all and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .col-2, .col-4, .col-6, .col-8, .col-10 {
    margin-bottom: 1rem;
    width: 100%;
  }
}